{% extends 'flatpages/default.html' %} 

{% block title %}
    Response Detail
{% endblock title %}

{% block content %}


<h2>Отклик на объявление {{ response.ad_id }} от пользователя {{ response.response_user }}</h2>

<p>{{ response.response_text}}</p>


<div class="btn-group" role="group" aria-label="Basic example">
            

    {% if request.user == response.response_user %}
    <form action="{% url 'response_ad' response.id %}">
        <button type="button submit" class="btn btn-primary btn-sm">Редактировать</button>
    </form>
    {% else %}

    <form action="{% url 'response_accept' response.id %}">
        <button type="button submit" class="btn btn-primary btn-sm">Принять отклик</button>
    </form>
    <form action="{% url 'response_delete' response.id %}">
        <button type="button submit" class="btn btn-primary btn-sm">Удалить</button>
    </form>
    {% endif %}
</div>


    
{% endblock content %}

    