{% extends 'flatpages/default.html' %} 
 


{% block title %}
ads details
{% endblock title %}
 

{% block content %}
<h1>{{ adsDetail.head_of_ad}}</h1>


{% for img in adsDetail.ad_images.all %}          
<img src="{{ img.image.url }}" class = "rounded float-left img-fluid">
<br>
<br>
{% endfor %}



{% for file in adsDetail.ad_files.all %} 
<video width="400" height="300" controls>
    <source src="{{ file.file.url }}" type="video/mp4">
</video>
<br>
<br>
{% endfor %}



<br>
<h2>{{ adsDetail.article_text}}</h2>
<br>
<p>Дата публикации - {{ adsDetail.ad_date_created|date:"d M Y"}} - {{ adsDetail.ad_detailed_time_created}}</p> 


<tr>
    <td>
        <p>Автор - {{ adsDetail.ad_author}}</p>
    </td>
        
</tr>

<div class="btn-group" role="group" aria-label="Basic example">
            
    <form action="{% url 'ads_update' adsDetail.id %}">
        <button type="button submit" class="btn btn-primary btn-sm">Редактировать</button>
    </form>
    <form action="{% url 'ads_delete' adsDetail.id %}">
        <button type="button submit" class="btn btn-primary btn-sm">Удалить</button>
    </form>


</div>









{% endblock content %}