{% extends 'flatpages/default.html' %} 
 


{% block title %}
ads details
{% endblock title %}
 

{% block content %}
<h1>{{ adsDetail.head_of_ad}}</h1>

<h1>{{ adsDetail.ad_images}}</h1>



{% if adsDetail.ad_images  %} 
    
    {% if is_iterable %}

        {% for img in adsDetail.ad_images %} 
            
            <img src="{{ img.ad_images.image.url }}" class = "rounded float-left img-fluid">

        {% endfor %}
        
        
        

    {% else %}
        <img src="{{ adsDetail.ad_images.image.url }}" class = "rounded float-left img-fluid">
    {% endif %}
{% endif %}

<a href="{{ adsDetail.ad_files.file.url }}">{{ adsDetail.ad_files.title }}</a>




<br>
<h2>{{ adsDetail.article_text}}</h2>
<br>
<p>Дата публикации - {{ adsDetail.ad_date_created|date:"d M Y"}} - {{ adsDetail.ad_detailed_time_created}}</p> 

{% endblock content %}