{% extends 'flatpages/default.html' %} 
 


{% block title %}
ads details
{% endblock title %}
 
<!-- content-->
{% block content %}
<h1>{{ adsDetail.head_of_ad}}</h1>


{% for img in adsDetail.ad_images.all %}          
<img src="{{ img.image.url }}" class = "rounded float-left img-fluid">
<br>
<br>
{% endfor %}



{% for file in adsDetail.ad_files.all %} 
<video width="400" height="300" controls>
    <source src="{{ file.file.url }}" type="video/mp4">
</video>
<br>
<br>
{% endfor %}



<br>
<div class="text-wrap text-start" style="word-wrap: break-word; ">
    <p>{{ adsDetail.article_text}}</p>
</div>
<br>
<p>Дата публикации - {{ adsDetail.ad_date_created|date:"d M Y"}} - {{ adsDetail.ad_detailed_time_created}}</p> 


<tr>
    <td>
        <p>Автор - {{ adsDetail.ad_author}}</p>
    </td>
        
</tr>

<!-- button-->
<div class="btn-group" role="group" aria-label="Basic example">
            

    {% block response %}
    <form action="{% url 'response_ad' adsDetail.id %}">
        <button type="button submit" class="btn btn-primary btn-sm">Оставить отклик</button>
    </form>
    {% endblock response %}


    {% if request.user == adsDetail.ad_author %}

    <form action="{% url 'ads_update' adsDetail.id %}">
        <button type="button submit" class="btn btn-primary btn-sm">Редактировать</button>
    </form>
    <form action="{% url 'ads_delete' adsDetail.id %}">
        <button type="button submit" class="btn btn-primary btn-sm">Удалить</button>
    </form>

    {% endif %}


</div>





{% endblock content %}