{% extends 'flatpages/default.html' %} 
 
{% block title %} Create ads {% endblock title %}
 
{% block content %}
<h3>Информация о объявлении</h3>

<div class="row">
    <div class="col">
    <div class="card card-body ">
        <form method="POST">
    
            {% csrf_token %} 
            <h2>login-{{ request.user.username.title }} </h2>
            {{ form.as_p }} 
            
                   
            <br/>
            <input class="btn btn-primary" type="submit" value="Добавить объявление">
        
        </form>
        <br/>
        <p>Вы можете загрузить дополнительные изображения и файлы</p>
        <div class="btn-group" role="group" aria-label="Basic example">     


            <form target="_blank" action="{% url 'loadImage' %}">
                <button type="button submit" class="btn btn-primary btn-sm">Загрузить картинку</button>
            </form>
            
            <form target="_blank" action="{% url 'loadFile' %}">
                <button type="button submit" class="btn btn-primary btn-sm">Загрузить файлы</button>
            </form>

        </div>
    </div>
    </div>
    
</div>



{% endblock content %}