{% extends 'flatpages/default.html' %} 
 
{% block title %} Create ads {% endblock title %}
 
{% block content %}
<h3>Информация о объявлении</h3>

<div class="row">
    <div class="col">
    <div class="card card-body ">
        <form method="POST">
    
            {% csrf_token %} 
            <h2>login-{{ request.user.username.title }} </h2>
            {{ form.as_p }} 
            <input class="btn btn-primary" type="submit" value="Добавить объявление">
        
        </form>

    </div>
    </div>
</div>



{% endblock content %}