{% extends 'flatpages/default.html' %} 
 


{% block title %}
news details
{% endblock title %}
 
<!-- content-->
{% block content %}

<h1>{{ postDetail.head_of_post}}</h1>
<br>


{% for img in postDetail.post_images.all %}          
<img src="{{ img.image.url }}" class = "rounded float-left img-fluid">
<br>
<br>
{% endfor %}


{% for file in postDetail.post_files.all %} 
<video width="400" height="300" controls>
    <source src="{{ file.file.url }}" type="video/mp4">
</video>
<br>
<br>
{% endfor %}


<div class="text-wrap text-start" style="word-wrap: break-word;">
    <p>{{ postDetail.article_text}}</p>
</div>
<br>
<p>Дата публикации - {{ postDetail.post_date_created|date:"d M Y"}} - {{ postDetail.post_detailed_time_created}}</p> 








<!-- button-->
<div class="btn-group" role="group" aria-label="Basic example">
        
    
    {% if request.user == postDetail.post_author %}
    <form action="{% url 'posts_update' postDetail.id %}">
        <button type="button submit" class="btn btn-primary btn-sm">Редактировать</button>
    </form>
    <form action="{% url 'posts_delete' postDetail.id %}">
        <button type="button submit" class="btn btn-primary btn-sm">Удалить</button>
    </form>
    {% endif %}

</div>


{% endblock content %}