{% extends 'flatpages/default.html' %} 



{% block title %}
list of news
{% endblock title %}
 

{% block content %}
    <h1>Найдено новостей - {{ posts|length }} шт.<a href="/posts/search">Поиск</a></h1>
     
    <hr>
    {% if posts  %} 
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Краткий текст
                </td>
                
                
            </tr>
        {% for directPost in posts %} 
            <tr>
                <td>
                    <a href="{% url 'postDetail' directPost.id %}">{{ directPost.head_of_post }}</a>
                </td>
                <td>
                    {{  directPost.post_date_created|date:'d M Y'  }}
                </td>
                <td>
                    {{ directPost.article_text|truncatechars:50 }}
                </td>
                
                <br>
            </tr>
        {% endfor %}
        </table>
        {% if is_paginated %}
 
        <ul class="pagination">
            <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">First</a>
            </li>
            <li class="page-item"></li>
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"  tabindex="-1" aria-disabled="true">Previous</a>
            </li>
                
            {% endif %}
     
            <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ num }}</a></li>
                    
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    
                {% endif %}
            {% endfor %}
     
            <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
            {% if page_obj.has_next %}

            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            <li class="page-item"></li>
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-disabled="true">Last</a>
            </li>

            {% endif %}
        </ul>
     
    {% endif %}            







        {% else %}
        <h2> Новостей нет!</h2>
    {% endif %}
   
    



{% endblock content %}