{% extends 'flatpages/default.html' %} 





{% block title %}
News search list
{% endblock title %}
 

{% block content %}
    <h1>Найдено по параметрам - {{ filter.qs|length }} шт.</h1>
     
    
    <div class="row">
        <div class="col">
        <div class="card card-body ">
            <form method="GET">
                {{ filter.form }} 
                <input class="btn btn-primary" type="submit" value="Search">
            </form>
        </div>
        </div>
    </div>

    <hr>
    {% if searchPost  %} 
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Краткий текст
                </td>
                
                
            </tr>
        {% for directPost in filter.qs %} 
            <tr>
                <td>
                    <a href="{% url 'postDetail' directPost.id %}">{{ directPost.head_of_post }}</a>
                </td>
                <td>
                    {{  directPost.post_date_created|date:'d M Y'  }}
                </td>
                <td>
                    {{ directPost.article_text|truncatechars:50 }}
                </td>
                
                <br>
            </tr>
        {% endfor %}
        </table>

        
    
        {% else %}
        <h2> Новостей нет!</h2>
    {% endif %}
{% endblock content %}