{% extends 'default.html' %}
{% load custom_filters %}
{% block title %}
    Объявления
{% endblock title %}

{% block content %}
    <h2>Мои объявления</h2>
    {% for advertsement in advertsements %}
        {% include 'message_boards/includes/advertsement_card_button_look.html' %}
    {% endfor %}

        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?{% param_replace page=1 %}">First</a>
                {% if page_obj.previous_page_number != 1 %}
                    <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
                {% endif %}
            {% endif %}

    <!--        Page {{ page_obj.number }} of {{ paginator.num_pages }}-->

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?{% param_replace %}&page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                {% if page_obj.next_page_number != paginator.num_pages %}
                    <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
                {% endif %}
                <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
            {% endif %}
        {% endif %}
{% endblock content %}